
.content {
    margin-top: 40px;
    height: 400px;
    width: 100%;
    background-color: #171A18;

    display: flex;
    justify-content: center;
}

.authentication{

    width: 450px;
    height: 400px;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    color: white;
    background-color: #3c8ccc;
    border: none;
}

.link:hover span{
    color: #a4a2a2;
}

a:hover{
    text-decoration-color: #a4a2a2;
}

.btn:hover{
    background-color: #3c7cb4;
}

