<html lang="en">
    <body>
        <div class="navbar">
            <!-- <img src="assets/logo/atriumlogo.png" class="top-left-image" style="width: 120px; height: 35px; margin-top: -5px; margin-left: 5px; position: fixed; left: 0;" alt="Description of the image"> -->
            <p style="font-size: 30px; font-family: 'Arial', sans-serif; color: white; margin-left: 10px;">Atrium</p>
            <!-- <i class="fa-solid fa-flag"></i>
            <li class="nav-item dropdown" style="margin-right: 15px; ">
                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Languages</button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">English</a></li>
                    <li><a class="dropdown-item" href="#">Romanian</a></li>
                </ul>
            </li> -->
            <!-- <i class="fa-regular fa-flag" style="font-size: 25px; margin-top: 15px; color: white; top: 0; position: fixed; right: 0; margin-right: 15px;"></i> -->
            <!-- <img src="assets/logo/uptlogo.png" class="top-right-image" style="width: 130px; height: 35px; margin-top: -5px; margin-right: 10px; position: fixed; right: 0;" alt="Description of the image"> -->
        </div>

        <div class="content">
            <div class="authentication">
                <p style="font-size: 40px; font-family: 'Arial', sans-serif; ">Welcome to Atrium!</p>
                <p style="font-size: 20px; font-family: 'Arial', sans-serif; margin-top: -25px;">UPT - Matching Platform</p>
                <p style="font-size: 15px; font-family: 'Arial', sans-serif; margin-top: 50px;">Please sign in with your UPT account.</p>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Your E-mail" aria-label="Email" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">#</span>
                    <input type="password" class="form-control" placeholder="Your Password" aria-label="Password" aria-describedby="basic-addon1">
                </div>     
                
                <div class="buttons">
                    <button type="button" style="margin-top: 10px;" class="btn btn-outline-secondary" (click)="onButtonPressed()">Sign in</button>

                    <div class="form-check" style="margin-left: 30px; margin-top: 15px;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label"  for="flexCheckDefault">Remember me</label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>