<html lang="en">
    <body>
        <div class="navbar">
            <p style="font-size: 30px; font-family: 'Arial', sans-serif; color: white; margin-left: 10px;">Atrium</p>
        </div>

        <div class="content">
            <div class="authentication">
                <img style="height: 100px; width: 100px;" src="../../../assets/logo/uptlogo2.png" >
                <p style="font-size: 40px; font-family: 'Arial', sans-serif; ">Welcome to Atrium!</p>
                <p style="font-size: 20px; font-family: 'Arial', sans-serif; margin-top: -25px;">UPT - Matching Platform</p>
                <p style="font-size: 15px; font-family: 'Arial', sans-serif; margin-top: 40px;">Please sign in with your UPT account.</p>
                <button type="button" style="margin-top: 10px;" class="btn btn-outline-secondary" (click)="login()"><i style="color: white;" class="fa-brands fa-microsoft"></i> Sign in</button>
                <a style="margin-top: 10px; color: white; font-family: 'Arial', sans-serif; font-size: 15px;" href="https://student.upt.ro/docs/Instructiuni%20resetare%20parola%20cont-UPT.pdf">Forgot your password?</a>
            </div>
        </div>
    </body>
</html>