<html lang="en">
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #343D47;">
            <div class="container-fluid">
                <!-- Centered "Atrium" on the left -->
                <a class="navbar-brand" href="#" style="font-size: 30px; font-family: 'Arial', sans-serif; color: white;">Atrium</a>
            </div>

             <!-- Right-aligned buttons -->
            <div class="navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" (click)="goAdmin()">
                        <span style="font-family: 'Arial', sans-serif; margin-right: 20px;"> Admin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
          
        <div class="content">
            <div class="authentication">
                <img style="height: 100px; width: 100px;" src="../../../assets/logo/uptlogo2.png" >
                <p style="font-size: 40px; font-family: 'Arial', sans-serif; ">Welcome to Atrium!</p>
                <p style="font-size: 20px; font-family: 'Arial', sans-serif; margin-top: -25px;">UPT - Matching Platform</p>
                <p style="font-size: 15px; font-family: 'Arial', sans-serif; margin-top: 40px;">Please sign in with your UPT account.</p>
                <button type="button" style="margin-top: 10px;" class="btn btn-outline-secondary" (click)="login()"><i style="color: white;" class="fa-brands fa-microsoft"></i> Sign in</button>
                <a style="margin-top: 10px; color: white; font-family: 'Arial', sans-serif; font-size: 15px;" class="link" href="https://student.upt.ro/docs/Instructiuni%20resetare%20parola%20cont-UPT.pdf"><span>Forgot your password?</span></a>
            </div>
        </div>
    </body>
</html>