<html lang="en">
    <body>
        <app-navbar></app-navbar>
          
        <div class="content">
            <!-- Headerul continutului principal -->
            <div class="header">
                <p style="color: white; font-size: 35px; margin-left: 20px; margin-top: 15px; display: inline-block;">Your current courses</p>
                <button type="button" style="right: 0; position: absolute; margin-top: 25px; margin-right: 50px; " class="btn btn-outline-secondary" (click) = "openCourseCreationDialiog()">Create Course</button>        
            </div>

            <!-- Containerul de carduri -->
            <div class="row">  
                <p style="font-style: italic; font-size: 20px; font-family: 'Calibri', regular; color: white; margin-left: 100px; margin-top: 50px;" [hidden]="courses.length !== 0">no courses to be displayed ..</p>
                <div class="cards" *ngFor="let course of courses" class="col-md-6 col-xl-3 col-sm-5">

                    <div class="card" (click)="navigateToCourse(course.courseid)">
                        <div class="card-header">
                            <p style="text-align: center; margin: 0%;">{{ course?.courseName }}</p>
                        </div>
                        <div class="card-body">
                            <img src="../../../assets/test/general.jpg" alt="POO Card">
                        </div>

                        <div *ngIf="course?.finalized" class="card-footer" style="background-color: rgba(0, 128, 0, 0.669);">
                            <p style="text-align: center; margin: 0%;">{{ course?.preferencesDeadline | date:'dd.MM.yyyy' }}</p>
                        </div>
                        <div *ngIf="!course?.finalized" class="card-footer" style="background-color: rgba(255, 0, 0, 0.731);">
                            <p style="text-align: center; margin: 0%;">{{ course?.preferencesDeadline | date:'dd.MM.yyyy' }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>