<html lang="en">
    <body>
        <div class="navbar">
            <p style="font-size: 30px; font-family: 'Arial', sans-serif; color: white; margin-left: 10px;">Atrium</p>
        </div>

        <div class="content">
            <!-- Headerul continutului principal -->
            <div class="header">
                <p style="color: white; font-size: 35px; margin-left: 20px; margin-top: 5px; display: inline-block;">Your current courses</p>
                <button type="button" style="right: 0; position: absolute; margin-top: 15px; margin-right: 50px; " class="btn btn-outline-secondary" (click) = "openCourseCreationDialiog()">Create Course</button>        
            </div>

            <!-- Containerul de carduri -->
            <div class="home">  
                <div class="cards">

                    <div class="card">
                        <div class="card-header">
                            <p style="text-align: center; margin: 0%;">PROGRAMARE ORIENTATA PE OBIECTE</p>
                        </div>
                        <div class="card-body">
                            <img src="../../../assets/test/poo.jpg" alt="POO Card">
                        </div>
                        <div class="card-footer">
                            <p style="text-align: center; margin: 0%;">Deadline: 20.03.2024</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>