<html lang="en">
    <body>
        <div class="content">
            <p style="font-size: 20px; color: white; font-family: 'Arial', sans-serif; margin-top: 20px;">Changes you made may not be saved.</p>

            <div class="buttons">
                <button style="margin-right: 10px;" type="button" class="btn btn-success start" (click)="saveChanges()">Save Changes</button>
                <button style="margin-right: 10px;" type="button" class="btn btn-secondary cancel" (click)="cancel()">Cancel</button>
                <button type="button" class="btn btn-danger dismiss" (click)="dismissChanges()">Dismiss Changes</button>
            </div>
            
        </div>
    </body>
</html>
