<html lang="en">
    <body>
        <div class="content">
            <p style="font-size: 20px; color: white; font-family: 'Arial', sans-serif; margin-top: 20px;">Are you sure you want to delete this course?</p>

            <div class="buttons">
                <button style="margin-right: 10px;" type="button" class="btn btn-success start" (click)="confirm()">Confirm</button>
                <button type="button" class="btn btn-secondary delete" (click)="cancel()">Cancel</button>
            </div>
            
        </div>
    </body>
</html>