.modal{
    position: relative;
    height: 400px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171A18;
}

.lastrow {
    display: flex;
    align-items: center; /* Align items vertically in the center */
  }

.content{
    height: 350px;
    width: 400px;
    color: white;
    background-color: #171A18;
}

input::placeholder{
    color: white;
}

.btn{
    margin-top: 10px;
    margin-left: 68%;
}


