<html lang="en">
    <body>
        <div class="modal">
            <div class="content">
                <p style="font-size: 30px;">Create a new course</p>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Courses name:</label>
                    <input style="background-color: #303030; border-color: #303030; color: white; width: 400px;" type="name" class="form-control" [(ngModel)] = "course.courseName"  id="exampleFormControlInput1" placeholder="Name">
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label" >Choose courses profile picture:</label>
                    <input style="background-color: #303030; border-color: #303030; color: white; width: 400px;" class="form-control" type="file" id="formFile">
                </div>

                <div class="lastrow">
                    <div style="display: flex; flex-direction: column;" class="deadline">
                        <label class="form-label" >Preferences Deadline:</label>
                        <input type="date" style="width: 150px; border-radius: 5px;" [(ngModel)]="selectedDate"/>
                    </div>
                    <div style="margin-left: 20px; margin-top: 35px;" class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)] = "course.visibility" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                        Private
                        </label>
                    </div>
                </div>
                <button type="button" [disabled]="!course.courseName" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
            </div>
        </div>
    </body>
</html>