<html lang="en">
    <body>
        <div class="content">
            <p style="font-size: 20px; color: white; font-family: 'Arial', sans-serif; margin-top: 10px;">Preference selection period has not yet ended.</p>
            <p style="font-size: 20px; color: white; font-family: 'Arial', sans-serif; margin-top: -5px;">Proceed with allocation anyway?</p>

            <div class="buttons">
                <button style="margin-right: 10px;" type="button" class="btn btn-danger start" (click)="confirm()">Confirm</button>
                <button type="button" class="btn btn-secondary delete" (click)="cancel()">Cancel</button>
            </div>
            
        </div>
    </body>
</html>