/*  ALLOCATIONPAGE CSS*/
.contentAllocation{
    padding-left: 50px;
    padding-top: 10px;
    margin-top: 30px;
    width: 100%;
    background-color: #171A18;
    min-height: 520px;

    height: auto;
    padding-bottom: 30px;
}

.students{
    margin-top: 30px;
}

.tree {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 700px;
    color: white;
    font-size: 20px;
}

/* Details */
details {
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
    background-color: #303030;
}

details[open] {
    background-color: #303030; /* Slightly darker shade on open */
}

/* Summary */
summary {
    padding: 10px;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid white;
    font-weight: bold;
}



summary:hover {
    background-color: #595959; /* Darker shade on hover */
}

/* Nested list */
ul {
    padding-left: 20px;
}

/* List items */
li {
    margin-left: 20px;
    list-style: none;
}

/* Apply white color to list items */
li {
    color: white;
}

  


/*  COURSEPAGE CSS*/
.content{
    margin-top: 30px;
    width: 100%;
    background-color: #171A18;
    height: 550px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.course{
    margin-top: 20px;
    width: 600px;
    height: 450px;
}

.buttons{
    margin-top: 15px;
    width: 600px;
}

.table{
    width: 100%;
    font-family: 'YourDesiredFont', sans-serif;
}

tbody {
    max-height: 150px; 
    overflow-y: auto;
    display: block;
}

.slot{
    width: 500px;
}

thead{
    display: block;
}

th, tr, td{
    width: 500px;
    color: white;
    background-color: #171A18;
    border-bottom: 2px solid #303030;
}

tbody tr {
    border-top: 2px solid #303030;
}

tbody th, tr, td{
    border-bottom: none;
}

.back{
    color: white;
    background-color: #3c8ccc;
    border: none;
}

.back:hover{
    background-color: #3c7cb4;
}


