<html lang="en">
    <body>
        <div class="navbar">
            <p style="font-size: 30px; font-family: 'Arial', sans-serif; color: white; margin-left: 10px;">Atrium</p>
        </div>

        <div class="content">
            <div class="course"> 
                <p style="font-size: 25px; color: white;" >Course Name: {{ course?.courseName }}</p>
                <p style="font-size: 25px; color: white;" >Teaching Professor: - </p>
                <p style="font-size: 25px; color: white;" >Prefferences Deadline: {{ course?.preferencesDeadline | date:'dd.MM.yyyy' }}</p>
                <p style="font-size: 25px; color: white;" [ngSwitch]="course?.algorithm">
                    Students Allocation Algorithm:
                    <ng-container *ngSwitchCase="'STANDARD_ALGORITHM'">Standard Algorithm</ng-container>
                    <ng-container *ngSwitchCase="'GALE_SHAPLEY_ALGORITHM'">Gale Shapley Algorithm</ng-container>
                    <ng-container *ngSwitchDefault> - No Algorithm - </ng-container>    
                </p>
                <p style="font-size: 25px; color: white;" >Available Slots:</p>
                <div class="slots">
                    <div class="slot">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Day</th>
                                <th scope="col">Time</th>
                                <th scope="col">Capacity</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr [hidden]="!course || !course.slots || course.slots.length !== 0">
                                    <th scope="col">-</th>
                                    <th scope="col">-</th>
                                    <th scope="col">-</th>
                                    <th scope="col">-</th>
                                </tr>
                                <tr *ngFor="let slot of course?.slots; let i = index">
                                <th scope="row">{{i + 1}}</th>
                                <td [ngSwitch]="slot?.day">
                                    <ng-container *ngSwitchCase="'MONDAY'">Monday</ng-container>
                                    <ng-container *ngSwitchCase="'TUESDAY'">Tuesday</ng-container>
                                    <ng-container *ngSwitchCase="'WEDNESDAY'">Wednesday</ng-container>
                                    <ng-container *ngSwitchCase="'THURSDAY'">Thursday</ng-container>
                                    <ng-container *ngSwitchCase="'FRIDAY'">Friday</ng-container>
                                    <ng-container *ngSwitchDefault> - </ng-container>
                                </td>
                                <td [ngSwitch]="slot?.time">
                                    <ng-container *ngSwitchCase="'TIME_08_10'">08 - 10</ng-container>
                                    <ng-container *ngSwitchCase="'TIME_10_12'">10 - 12</ng-container>
                                    <ng-container *ngSwitchCase="'TIME_12_14'">12 - 14</ng-container>
                                    <ng-container *ngSwitchCase="'TIME_14_16'">14 - 16</ng-container>
                                    <ng-container *ngSwitchCase="'TIME_16_18'">16 - 18</ng-container>
                                    <ng-container *ngSwitchCase="'TIME_18_20'">18 - 20</ng-container>
                                    <ng-container *ngSwitchDefault> - </ng-container>
                                </td>
                                <td>{{slot.capacity}}</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button style="margin-right: 10px;" type="button" class="btn btn-primary back" (click)="goHome()">Back</button>
                <button style="margin-right: 10px;" type="button" class="btn btn-success start" (click)="allocateStudents()">Start Allocation Process</button>
                <button type="button" class="btn btn-secondary delete" (click)="deleteCourse()">Delete Course</button>
            </div>
            
        </div>
    </body>
</html>