<html lang="en">
    <body>
        <app-navbar></app-navbar>

        <div class="content">
            <div class="title">
                <p>Create a new course</p>
            </div>
            <div class="home"> 
                <div class="left">
                    
                    <div class="mb-3">
                        <label style="font-size: 20px;" for="exampleFormControlInput1" class="form-label">Course name:</label>
                        <input style="background-color: #303030; border-color: #303030; color: white;" type="name" class="form-control" [(ngModel)] = "courseName"  id="exampleFormControlInput1" placeholder="Name">
                    </div>

                    <!-- <div class="mb-3">
                        <label style="font-size: 20px;" for="formFile" class="form-label" >Choose courses profile picture:</label>
                        <input style="background-color: #303030; border-color: #303030; color: white;" class="form-control" type="file" id="formFile">
                    </div> -->

                    <div class="mb-3">
                        <label style="font-size: 20px;" class="form-label">Select the allocation algorithm:</label>
                        <select class="form-select" [(ngModel)]="algorithm">
                            <option [ngValue]="undefined" selected >Allocation Algorithm</option>
                            <option [ngValue]="'STANDARD_ALGORITHM'" >Standard Algorithm</option>
                            <option [ngValue]="'GALE_SHAPLEY_ALGORITHM'" >Gale Shapley Algorithm</option>
                        </select>
                    </div>

                    <div style="display: flex;" class="dates">
                        <div class="deadline">
                            <label class="form-label" >Preferences Deadline:</label> <br>
                            <input type="date" style="width: 150px; border-radius: 5px;" [(ngModel)]="preferencesDeadline"/>
                        </div>
                        <div style="margin-left: 45px;" class="deadline">
                            <label class="form-label" >Allocation Deadline:</label><br>
                            <input type="date" style="width: 150px; border-radius: 5px;"/>
                        </div>
                    </div>
                </div>

                
                    <div class="right">
                        <p style="font-size: 20px; display: inline-block;" >Slots available:</p>
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Day</th>
                                <th scope="col">Time</th>
                                <th scope="col">Capacity</th>
                                <td></td>
                                <td><i class="fa-solid fa-square-plus" (click)="openCourseCreationDialiog()"></i></td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let slot of slots; let i = index">
                                <th scope="row">{{i + 1}}</th>
                                <td [ngSwitch]="slot?.day">
                                    <ng-container *ngSwitchCase="'MONDAY'">Monday</ng-container>
                                    <ng-container *ngSwitchCase="'TUESDAY'">Tuesday</ng-container>
                                    <ng-container *ngSwitchCase="'WEDNESDAY'">Wednesday</ng-container>
                                    <ng-container *ngSwitchCase="'THURSDAY'">Thursday</ng-container>
                                    <ng-container *ngSwitchCase="'FRIDAY'">Friday</ng-container>
                                    <ng-container *ngSwitchDefault> - </ng-container>
                                </td>
                                <td [ngSwitch]="slot?.time">
                                    <ng-container *ngSwitchCase="'TIME_08_10'">08 - 10</ng-container>
                                    <ng-container *ngSwitchCase="'TIME_10_12'">10 - 12</ng-container>
                                    <ng-container *ngSwitchCase="'TIME_12_14'">12 - 14</ng-container>
                                    <ng-container *ngSwitchCase="'TIME_14_16'">14 - 16</ng-container>
                                    <ng-container *ngSwitchCase="'TIME_16_18'">16 - 18</ng-container>
                                    <ng-container *ngSwitchCase="'TIME_18_20'">18 - 20</ng-container>
                                    <ng-container *ngSwitchDefault> - </ng-container>
                                </td>
                                <td>{{slot.capacity}}</td>
                                <td><i class="fa-regular fa-pen-to-square" (click)="editSlot(slot.slotid !== undefined ? slot.slotid : 0)"></i></td>
                                <td><i class="fa-solid fa-trash" (click)="removeSlot(slot.slotid !== undefined ? slot.slotid : 0)"></i></td>
                              </tr>
                            </tbody>
                        </table>

                    </div>
            </div>

            <div class="buttons">
                <!-- <div style="display: inline-block; color: white;" class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)] = "visibility" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">Private</label>
                </div> -->
                    <button type="button" [disabled]="!courseName || algorithm === undefined || preferencesDeadline === undefined" class="btn btn-primary" (click)="createCourse()">Save changes</button>
                    <button style="margin-left: 10px;" type="button" class="btn btn-secondary" (click)="goHome()">Cancel</button>
            </div>
            
        </div>
    </body>
</html>